body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: #13bc27;
}

ul {
    display: flex;
    border-bottom: 15px solid rgb(27, 10, 216);
    border-radius: 15px;
}

ul li {
    list-style: none;
    height: 40px;
    width: 40px;
    background-color: blue;
    margin: auto 20px;
    border-radius: 50%;
    animation: bouncing 1s linear infinite alternate-reverse;
}

@keyframes bouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0);
    }
}

ul li:nth-child(2) {
    animation-delay: .2s;
}

ul li:nth-child(3) {
    animation-delay: .4s;
}

ul li:nth-child(4) {
    animation-delay: .6s;
}

ul li:nth-child(5) {
    animation-delay: .8s;
}